[Unit]
Description=Put all members of an LDAP group into the mail server's alias table

[Service]
ExecStart=/usr/bin/java -jar ldap-groups.jar
Type=oneshot
User=ldapmail
WorkingDirectory=/opt/ldapmail
 
[Install]
WantedBy=multi-user.target
